@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure to Delete  Employee @Model.Name ? </h1>

<form asp-action="Delete">

    <partial name="EmployeePartialView/DeleteDetailsPartialView" />

        <input type="submit" class="btn btn-danger" value="Delete" />
    <a asp-action="Index" class="btn btn-light"> cancel </a>
</form>

