@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Details of @Model.Name Department </h1>

<partial name="DepartmentPartialView/DeleteDetailsParialView" />
    
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success"> Edit </a>|
<a asp-action="Index" class="btn btn-light"> back to list </a>


