@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Department </h1>

<form asp-action="Edit">
    <div class="mb-3">
        <label asp-for="Code" class="form-label"></label>
        <input asp-for="Code" class="form-control" placeholder="Enter Code">
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"> </label>
        <input asp-for="Name" class="form-control" placeholder="Enter Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DateOfCreation" class="form-label">  </label>
        <input asp-for="DateOfCreation" class="form-control" placeholder="Enter DateOfCreation">
        <span asp-validation-for="DateOfCreation" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />  |
    <a asp-action="Index" class="btn btn-light"> back to list </a>
</form>
