@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Department </h1>

<form asp-action="Edit">

    <partial name="DepartmentPartialView/CreateEditeParialView" />

    <input type="submit" class="btn btn-primary" value="Save" />  |
    <a asp-action="Index" class="btn btn-light"> back to list </a>
</form>
@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />

}

