@model Employee 
<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" readonly>

</div>
<div class="mb-3">
    <label asp-for="Age" class="form-label"> </label>
    <input asp-for="Age" class="form-control" readonly>
</div>
<div class="mb-3">
    <label asp-for="Adress" class="form-label">  </label>
    <input asp-for="Adress" class="form-control" readonly>
</div>
<div class="mb-3">
    <label asp-for="Email" class="form-label">  </label>
    <input asp-for="Email" class="form-control" readonly>
</div>
<div class="mb-3">
    <label asp-for="Salary" class="form-label">  </label>
    <input asp-for="Salary" class="form-control" readonly>
</div>
<div class="mb-3">
    <label asp-for="PhoneNumbers" class="form-label">  </label>
    <input asp-for="PhoneNumbers" class="form-control" readonly>
</div>
<div class="mb-3">
    <label asp-for="IsActive" class="form-label">  </label>
    <input type="checkbox"  readonly />
</div>
<div class="mb-3">
    <label asp-for="HirDate" class="form-label">  </label>
    <input asp-for="HirDate" class="form-control" readonly>
</div>